@model dominio.Disco

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>De verdad quieres eliminar?</h3>
<div>
    <h4>Disco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDisco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDisco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaDeLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaDeLanzamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeCanciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeCanciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImagenTapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlImagenTapa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atras</a>
    </form>
</div>
