@model IEnumerable<dominio.Disco>

@{
    ViewData["Title"] = "Listado Disco";
}

<h1>Discos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo</a>
</p>
<p>
    Filtro: 
    <div class="col-2">
        <form asp-action="Index" method="get">
            <input type="text" class="form-control mb-1" name="filtro" value="" placeholder="Buscar por nombre..." />
        
            <button  class="btn btn-outline-success " type="submit"> buscar </button>
            <a asp-action="Index" class="btn btn-outline-info ">Limpiar filtro</a>
        </form>
    </div>
 
</p>
<table class="table">
    <thead>
        <tr>
           @*  <th>
                @Html.DisplayNameFor(model => model.IdDisco)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.fechaDeLanzamiento)
            </th> *@
           @*  <th>
                @Html.DisplayNameFor(model => model.CantidadDeCanciones)
            </th> *@
            <th>
             @Html.DisplayNameFor(model => model.UrlImagenTapa)
            </th>
            <th>Genero</th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          @*   <td>
                @Html.DisplayFor(modelItem => item.IdDisco)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.fechaDeLanzamiento)
            </td> *@
          @*   <td>
                @Html.DisplayFor(modelItem => item.CantidadDeCanciones)
            </td> *@
            <td>
                @* @Html.DisplayFor(modelItem => item.UrlImagenTapa) *@

                    <img src="@item.UrlImagenTapa" alt="@item.Nombre" height="50" />

            </td>
             @* para tipo de datos complejos se puede solucionar de la siguiente forma *@
            <td> @item.Genero.Descripcion </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @*    //forma uno de hacer el boton a la nueva vista    @Html.ActionLink("Edit", "Edit", new { id = item.IdDisco })
                      //Poner id solamente porque si no va a ser dificil de que pasen a la siguiente pantalla
                *@ 
                <a asp-action="Edit" asp-route-id="@item.IdDisco" class="btn btn-outline-primary">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDisco" class="btn btn-outline-success"> Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDisco" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
